header {
    background-color: rgb(14 16 15);
    width: 100vw;
    z-index: 10;
    border-bottom: 1px solid rgb(50 50 40);
}

header nav {
    padding: 8px 16px;
    max-width: 128rem;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

header nav a {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 8px 12px;
    color: rgb(255 255 227);
    border: 1px solid rgb(50 50 40);
    border-radius: 12px;

    cursor: pointer;
}

header nav .menu-button {
    display: flex;
    align-items: center;
    border-radius: 24px;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    text-align: inherit;
    font: inherit;
    appearance: none;
}

#menu-toggle ~ .dropdown-menu {
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#menu-toggle:checked ~ .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(14, 16, 15);
    border: 1px solid rgb(40, 40, 50);
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 200px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

@media (min-width: 640px) {
    header {
        height: 72px;
    }
    header nav {
        padding: 16px 32px;
        height: 100%;
    }
    header nav a {
        gap: 16px;
        padding: 16px 24px;
        font-size: 20px;
    }
    header nav label svg {
        width: 36px;
        height: 36px;
    }
}

@media (min-width: 1024px) {
    header {
        height: 96px;
    }
    header nav {
        padding: 16px 64px;
        height: 100%;
    }
    header nav a {
        gap: 16px;
        padding: 16px 24px;
        font-size: 24px;
    }
    header nav label svg {
        width: 42px;
        height: 42px;
    }
}

@media (min-width: 1280px) {
    header {
        height: 116px;
    }
    header nav {
        padding: 24px 72px;
        height: 100%;
    }
    header nav a {
        gap: 32px;
        padding: 12px 20px;
        font-size: 22px;
    }
    header nav label svg {
        width: 40px;
        height: 40px;
    }
}
