header {
    background-color: rgb(14 16 15);
    width: 100vw;
    z-index: 10;
    border-bottom: 1px solid rgb(50 50 40);
}

header nav {
    padding: 8px 12px 4px;
    max-width: 128rem;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a {
    display: flex;
    align-items: center;
    gap: 8px;

    padding: 8px 12px;
    border: 1px solid rgb(50 50 40);
    border-radius: 12px;

    cursor: pointer;
}

header nav a div {
    background-color: rgb(255 255 227);
    width: 12px;
    height: 12px;
    border-radius: 24px;
}

header nav button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    appearance: none; 
}

/* header nav button svg {
    padding: 5px;
    background-color: rgb(50, 50, 40);
} */
