@import url(/styles/normalize.css);
@import url(/styles/components/scrollbar.css);
@import url(/styles/components/header.css);
@import url(/styles/components/main.css);

*,:after,:before {
    box-sizing: border-box;
    border: 0 solid rgb(229 231 235);
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(14 16 15);
    overflow: hidden;

    color: rgb(255 255 227);
    font-family: "Hanken Grotesk", sans-serif;
}
