@import url(/styles/normalize.css);
@import url(/styles/components/scrollbar.css);
@import url(/styles/components/header.css);
@import url(/styles/components/main.css);
@import url(/styles/components/triangles-rain.css);
@import url(/styles/components/footer.css);
@import url(/styles/components/table-section.css);
@import url(/styles/main_page/section.css);
@import url(/styles/professional_page/section.css);
@import url(/styles/contact_me/section.css);

*,:after,:before {
    box-sizing: border-box;
    border: 0 solid rgb(229 231 235);
    margin: 0;
    padding: 0;
}

html {
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    background-color: rgb(14 16 15);
    overflow: hidden;

    color: rgb(255 255 227);
    font-family: "Hanken Grotesk", sans-serif;
}
