@import url(normalize.css);
@import url(scrollbar.css);
@import url(header.css);

*,:after,:before {
    box-sizing: border-box;
    border: 0 solid rgb(229 231 235);
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(14 16 15);
    overflow: hidden;

    color: rgb(255 255 227);
    font-family: "Hanken Grotesk", sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}



